// ==========  Date Picker  ========== //

:root {
  --picker-width : 360px;
  --picker-landscape-width : 512px;
  --picker-landscape-header-width : 168px;
  --picker-day-width : 48px;
  --picker-column-spacing: 36px;
  --picker-column-padding: 18px;
}
