@import "variables";

// ==========  List   ========== //

.md-list-content {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 16px;

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .04em;
  }

  &__subtitle {
    display: block;
    padding: 0;

    @include md-typography-caption;

    &--contrast {
      color: var(--color-app-text-secondary);
    }

    & + &--contrast {
      margin-left: 4px;
    }
  }
}

.md-list-graphic {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  width: 24px;
  height: 40px;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: var(--color-app-disable);

  &--avatar {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
  }
}

.md-list-secondary {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  min-height: 40px;
  margin-right: 16px;

  &__meta {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-app-text-secondary);
    letter-spacing: 0;
  }

  &__actions {
    align-self: flex-end;
  }

  &__action:last-child {
    margin-right: -8px;
  }
}

.md-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 48px;
  overflow: hidden;
  padding-left: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    pointer-events: none;
    content: " ";
    background-color: var(--list-background-hover);
    border-radius: 50%;
    opacity: 0;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: opacity;
    will-change: opacity;
  }

  &::after {
    border-radius: 4px;
    transition-duration: 300ms;
    transition-property: transform, opacity;
    transform: scale(0);
    will-change: transform, opacity;
  }

  &::before {
    transition-timing-function: linear;
    transition-duration: 85ms;
  }

  &:hover::before,
  &:active::before,
  &:focus::before {
    opacity: .04;
  }

  &--selected::before,
  &--activated::before,
  &--focused::before {
    opacity: .12;
  }

  &--focused::after,
  &:active::after {
    opacity: .04;
    transform: none;
  }

  &:focus {
    outline: none;
  }

  &__meta {
    margin-right: 0;
    margin-left: auto;
    color: var(--color-app-text-secondary);
  }

  &--submenu-trigger .md-list-content + .md-list-graphic {
    margin-right: 8px;
  }
}

.md-list-subhead {
  padding: 8px 16px;
  @include md-typography-body1;
}

.md-list-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-app-divider);
}

.md-list {
  display: block;
  margin: 0;
  padding: 8px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-app-text);
  letter-spacing: .009375em;
  list-style-type: none;

  &--two-line {
    .md-list-item {
      min-height: 72px;
    }

    .md-list-content {
      min-height: 36px;
      line-height: 20px;
    }
  }

  &--three-line {
    .md-list-item {
      min-height: 88px;
    }

    .md-list-content {
      align-items: flex-start;
      min-height: 56px;
      margin-top: 8px;
      line-height: 20px;
    }
  }

  &--desktop {
    .md-list-item {
      align-items: flex-start;
    }

    .md-list-content {
      align-items: flex-start;
      margin-top: 8px;
    }

    .md-list-secondary {
      margin-top: 8px;
    }
  }

  &--dense {
    padding: 4px 0;

    .md-list-item {
      min-height: 40px;
    }

    .md-list-content__title {
      font-size: 15px;
    }

    .md-list-item-avatar {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }

    .md-list-item--two-line {
      min-height: 56px;
    }

    .md-list-item--three-line {
      min-height: 76px;

      .md-list-item-icon {
        width: 24px;
        height: 24px;
        margin-top: 12px;
      }
    }
  }

  &--non-interactive {
    .md-list-item {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--divider {
    .md-list-item {
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: rgba(0, 0, 0, .12);
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }

  &--separator {
    .md-list-item {
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 72px;
        width: calc(100% - 72px);
        height: 1px;
        content: "";
        background-color: rgba(0, 0, 0, .12);
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }
}
