// ==========  color  ========== //

:root {
  --color-primary: 19, 90, 247;
  --color-primary-contrast: 255, 255, 255;
  --color-primary-light: 119, 141, 225;
  --color-primary-light-contrast: 0, 0, 0;
  --color-primary-dark: 0, 55, 203;
  --color-primary-dark-contrast: 255, 255, 255;
  --color-accent: 0, 210, 128;
  --color-accent-contrast: 255, 255, 255;
  --color-accent-light: 144, 243, 200;
  --color-accent-light-contrast: 0, 0, 0;
  --color-accent-dark: 38, 143, 105;
  --color-accent-dark-contrast: 255, 255, 255;
  --color-success: 76, 175, 80;
  --color-success-contrast: 255, 255, 255;
  --color-danger: 211, 47, 47;
  --color-danger-contrast: 255, 255, 255;
  --color-warning: 249, 168, 37;
  --color-warning-contrast: 0, 0, 0;
  --color-light: 245, 245, 245;
  --color-light-contrast: 0, 0, 0;
  --color-dark: 33, 33, 33;
  --color-dark-contrast: 255, 255, 255;
  // Light theme
  --color-light-text: 255, 255, 255, 1;
  --color-light-secondary-text: 255, 255, 255, .7;
  --color-light-app-bar: 245, 245, 245, 1;
  --color-light-status-bar: 224, 224, 224, 1;
  --color-light-background: 250, 250, 250, 1;
  --color-light--card-background: 255, 255, 255, 1;
  --color-light-disable: 255, 255, 255, .5;
  --color-light-divider: 255, 255, 255, .12;
  --color-light-dialog-scrim: 255, 255, 255, .32;
  --color-light-button-hover: 255, 255, 255, .32;
  --color-light-button-disable: 255, 255, 255, .5;
  // Dark theme
  --color-dark-text: 0, 0, 0, .87;
  --color-dark-secondary-text: 0, 0, 0, .54;
  --color-dark-app-bar: 33, 33, 33, 1;
  --color-dark-status-bar: 0, 0, 0, 1;
  --color-dark-background: 48, 48, 48, 1;
  --color-dark--card-background: 66, 66, 66, 1;
  --color-dark-disable: 0, 0, 0, .38;
  --color-dark-divider: 0, 0, 0, .12;
  --color-dark-dialog-scrim: 0, 0, 0, .32;
  --color-dark-button-hover: 0, 0, 0, .5;
  --color-dark-button-disable: 0, 0, 0, .26;
  // Theme color
  --color-theme: rgba(var(--color-light));
  --color-theme-contrast: rgba(var(--color-dark));
  --color-app-text: rgba(var(--color-dark-text));
  --color-app-text-secondary: rgba(var(--color-dark-secondary-text));
  --color-app-bar: rgba(var(--color-light-app-bar));
  --color-app-status-bar: rgba(var(--color-light-status-bar));
  --color-app-background: rgba(var(--color-light-background));
  --color-app-card-background: rgba(var(--color-light--card-background));
  --color-app-disable: rgba(var(--color-dark-disable));
  --color-app-divider: rgba(var(--color-dark-divider));
  --color-app-button-disable: rgba(var(--color-dark-button-disable));
  --color-app-dialog-scrim: rgba(var(--color-dark-dialog-scrim));
}

// ==========  Theme  ========== //

$theme-variant: "primary", "primary-light", "primary-dark", "accent", "accent-light", "accent-dark", "success", "warning", "danger", "light", "dark";
$button-variant: "primary", "primary-light", "primary-dark", "accent", "accent-light", "accent-dark", "success", "warning", "danger", "light", "dark";
$toggle-variant: "primary", "accent";
