// ==========  Typography  ========== //

@mixin md-typography-headline1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: material-typography-get-letter-spacing(-1.5, 6);
}

@mixin md-typography-headline2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: material-typography-get-letter-spacing(-.5, 3.75);
}

@mixin md-typography-headline3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
}

@mixin md-typography-headline4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: material-typography-get-letter-spacing(.25, 2.125);
}

@mixin md-typography-headline5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

@mixin md-typography-headline6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: material-typography-get-letter-spacing(.25, 1.25);
}

@mixin md-typography-subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: material-typography-get-letter-spacing(.15, 1);
}

@mixin md-typography-subtitle2 {
  font-size: 875rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: material-typography-get-letter-spacing(.1, .875);
}

@mixin md-typography-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: material-typography-get-letter-spacing(.5, 1);
}

@mixin md-typography-body2 {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: material-typography-get-letter-spacing(.25, .875);
}

@mixin md-typography-caption {
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: material-typography-get-letter-spacing(.4, .75);
}

@mixin md-typography-button {
  font-size: .875rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: material-typography-get-letter-spacing(1.25, .875);
}

@mixin md-typography-overline {
  font-size: .75rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: material-typography-get-letter-spacing(2, .75);
}

@mixin md-typography-icon() {
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  display: inline-block;
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";
}

$typography-map: headline1, headline2, headline3, headline4, headline5,
  headline6, subtitle1, subtitle2, body1, body2, caption, overline;

@mixin typography($breakpoint) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @each $typography in $typography-map {
    .md-typography-#{$typography}#{$infix} {
      @if $typography == "headline1" {
        @include md-typography-headline1;
      }

      @if $typography == "headline2" {
        @include md-typography-headline2;
      }

      @if $typography == "headline3" {
        @include md-typography-headline3;
      }

      @if $typography == "headline4" {
        @include md-typography-headline4;
      }

      @if $typography == "headline5" {
        @include md-typography-headline5;
      }

      @if $typography == "headline6" {
        @include md-typography-headline6;
      }

      @if $typography == "subtitle1" {
        @include md-typography-subtitle1;
      }

      @if $typography == "subtitle2" {
        @include md-typography-subtitle2;
      }

      @if $typography == "body1" {
        @include md-typography-body1;
      }

      @if $typography == "body2" {
        @include md-typography-body2;
      }

      @if $typography == "caption" {
        @include md-typography-caption;
      }

      @if $typography == "overline" {
        @include md-typography-overline;
      }
    }
  }
}

$typography-align-map: left, right, center, justify;

@mixin typography-align($breakpoint) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @each $align in $typography-align-map {
    .md-typography-#{$align}#{$infix} {
      text-align: $align;
    }
  }
}

// Typography weight map
$typography-weight-map: () !default;
$typography-weight-map: map-merge((thin: 200, light: 300, regular: 400, medium: 500, bold: 700,  black: 900), $typography-weight-map);

@mixin typography-weight($breakpoint) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @each $weight in map-keys($typography-weight-map) {
    .md-typography-#{$weight}#{$infix} {
      font-weight: map-get($typography-weight-map, $weight);
    }
  }
}
