// ==========  Typography  ========== //

@mixin md-typography-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em;
}

@mixin md-typography-display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.02em;
}

@mixin md-typography-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

@mixin md-typography-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

@mixin md-typography-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

@mixin md-typography-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
}

@mixin md-typography-subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin md-typography-subhead-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .04em;
}

@mixin md-typography-body-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin md-typography-body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin md-typography-caption {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

@mixin md-typography-blockquote {
  position: relative;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: .08em;
}

@mixin md-typography-button($colorContrast: false, $usePreferred: true) {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: .87;
  }
}

@mixin md-typography-icon() {
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  display: inline-block;
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";
}

@mixin md-typography-small {
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
}
