@import "variables";

// ==========  Table   ========== //

.table {
  position: relative;
  width: 100%;
  font-size: var(--table-font-size);
  text-align: left;
  white-space: nowrap;
  border-spacing: 0;
  border-collapse: separate;
  background-color: var(--color-light);
  border-bottom: none;
  border-radius: 2px;

  &__cell-wrapper {
    position: relative;
    z-index: 4;
    width: inherit;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &--casting-border {
    border: 1px solid var(--color-dark-divider);
  }

  &--casting-shadow {
    box-shadow: var(--elevation-z1);
  }

  &--gray {
    .table-row__cell {
      color: var(--color-app-text);
    }
  }

  &--accent {
    background-color: RGB(var(--color-accent));

    .table-row__cell--header {
      color: RGB(var(--color-accent-contrast));
    }
  }

  &--primary {
    background-color: RGB(var(--color-primary));

    .table-row__cell--header {
      color: RGB(var(--color-primary-contrast));
    }
  }

  &--strip {
    .table-row:nth-of-type(2n) {
      background-color: var(--table-selection-color);
    }
  }
}

.table-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0;
  white-space: normal;
  border-bottom: 1px solid var(--color-app-divider);
  transition-property: background-color;
  @include material-animation-default(0.28s);

  &--selected,
  &:hover {
    background-color: var(--color-app-bar)
  }

  &::after {
    display: inline-block;
    min-height: inherit;
    content: "";
  }

  &__cell {
    flex: 1;
    overflow: hidden;
    padding: 4px 16px;
    color: var(--color-app-text);
    word-wrap: break-word;
    @include typography-body2();

    &--numeric {
      text-align: right;
    }
  }

  &--header {
    height: 56px;

    .table-row__cell {
      font-weight: 500;
      color: var(--color-app-text);
    }

    &.table-row,
    &.table-row:hover {
      background-color: transparent;
    }
  }
}
