// ==========  Flex Align   ========== //

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .md-align-items-start#{$infix}    { align-items: flex-start !important; }
    .md-align-items-end#{$infix}      { align-items: flex-end !important; }
    .md-align-items-center#{$infix}   { align-items: center !important; }
    .md-align-items-baseline#{$infix} { align-items: baseline !important; }
    .md-align-items-stretch#{$infix}  { align-items: stretch !important; }

    .md-align-content-start#{$infix}   { align-content: flex-start !important; }
    .md-align-content-end#{$infix}     { align-content: flex-end !important; }
    .md-align-content-center#{$infix}  { align-content: center !important; }
    .md-align-content-between#{$infix} { align-content: space-between !important; }
    .md-align-content-around#{$infix}  { align-content: space-around !important; }
    .md-align-content-stretch#{$infix} { align-content: stretch !important; }

    .md-align-self-auto#{$infix}     { align-self: auto !important; }
    .md-align-self-start#{$infix}    { align-self: flex-start !important; }
    .md-align-self-end#{$infix}      { align-self: flex-end !important; }
    .md-align-self-center#{$infix}   { align-self: center !important; }
    .md-align-self-baseline#{$infix} { align-self: baseline !important; }
    .md-align-self-stretch#{$infix}  { align-self: stretch !important; }
  }
}
