.md-bg {
  &-white {
    background-color: RGB(255, 255, 255);
  }

  &-black {
    background-color: RGB(0, 0, 0);
  }

  @each $variant in $theme-variant {
    &-#{$variant} {
      background-color: RGB(var(--color-#{$variant}));
    }
  }

  // background contrast variation
  @each $variant in $theme-variant {
    &-#{$variant}-contrast {
      background-color: RGB(var(--color-#{$variant}-contrast));
    }
  }
}
