// ==========  Text Color  ========== //

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint) {
    @each $name, $value in $text-color-map {
      .color-#{$name}#{$infix} {
        color: RGB(var((#{$value})));
      }

      .color-#{$name}#{$infix}\:hover:hover {
        color: RGB(var((#{$value})));
      }

      .color-#{$name}#{$infix}\:focus:focus {
        color: RGB(var((#{$value})));
      }
    }
  }
}
