@import "variables";

// ==========  Drawer  ========== //

.md-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: var(--empty-state-max-width);
  margin: 24px auto;
  text-align: center;

  &__graphic-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .material-icons {
      position: relative;
      z-index: 1;
      font-size: inherit;
      color: var(--color-primary);
    }
  }

  &__graphic {
    max-width: 100%;

    .material-icons {
      position: relative;
      z-index: 1;
      font-size: inherit;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 24px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-app-text);
  }

  &__subtext {
    min-width: 394px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-app-text-secondary);
  }

  &__subtext {
    min-width: 394px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-app-text-secondary);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 52px;
    margin-right: -8px;
    margin-left: -8px;
    padding: 8px 0;
  }

  &__action--button {
    margin: 8px;
  }

  @media (min-width: 720px) {
    &--horizontal {
      flex-direction: row;
      text-align: left;
      --empty-state-max-width: 644px;

      .md-empty-state__title {
        margin-top: 0;
      }

      .md-empty-state__content-wrapper {
        align-items: flex-start;
        padding-left: 32px;
      }
    }
  }
}
