@import "variables";
// ==========  Slider   ========== //

.slider {
  position: relative;
  width: 100%;
  height: 48px;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;

    &:not(.slider--active) .slider__track {
      transition: transform 80ms ease;
    }
  }

  &__track {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    will-change: transform;
    background-color: RGB(var(--color-accent));
  }

  &__track-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: rgba(1, 135, 134, 0.26);
  }

  &__track-marker {
    flex: 1 1;

    &::after {
      display: block;
      width: 2px;
      height: 2px;
      content: "";
    }

    &:first-child::after {
      width: 3px;
    }
  }

  &__track-marker-container {
    display: flex;
    margin-right: 0;
    margin-left: -1px;
    visibility: hidden;

    &::after {
      display: block;
      width: 2px;
      height: 2px;
      content: "";
      background-color: #018786;
    }
  }

  &__thumb-container {
    position: absolute;
    top: 15px;
    left: 0;
    width: 21px;
    height: 100%;
    user-select: none;
    will-change: transform;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 100ms ease-out, fill 100ms ease-out,
      stroke 100ms ease-out;
    transform: scale(0.571);
    stroke-width: 3.5;
    fill: #018786;
    stroke: #018786;
  }

  &__focus-ring {
    width: 21px;
    height: 21px;
    background-color: #018786;
    border-radius: 50%;
    opacity: 0;
    transition: transform 266.67ms ease-out, opacity 266.67ms ease-out,
      background-color 266.67ms ease-out;
  }

  &__pin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 50% 50% 50% 0;
    transition: transform 100ms ease-out;
    transform: rotate(-45deg) scale(0) translate(0, 0);
  }

  &__pin-value-marker {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0178571429em;
    transform: rotate(45deg);
  }

  &__track-marker {
    flex: 1 1;

    &::after {
      display: block;
      width: 2px;
      height: 2px;
      content: "";
      background-color: #018786;
    }
  }

  &--active {
    .slider__thumb {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  &--discrete {
    &.slider--active {
      .slider__pin {
        transform: rotate(-45deg) scale(1) translate(19px, -20px);
      }
    }

    &.slider--focus {
      .slider__thumb {
        animation: none;
      }
    }
  }

  &--focus {
    .slider__thumb {
      animation: slider-emphasize 266.67ms linear;
    }

    .slider__focus-ring {
      opacity: 0.25;
      transform: scale3d(1.55, 1.55, 1.55);
    }
  }

  &--in-transit {
    .slider__thumb {
      transition-delay: 140ms;
    }
  }

  &--disabled {
    .slider__track {
      background-color: #9a9a9a;
    }

    .slider__track-container {
      background-color: rgba(154, 154, 154, 0.26);
    }

    .slider__track-marker::after,
    .slider__track-marker-container::after {
      background-color: #9a9a9a;
    }

    .slider__thumb {
      fill: #9a9a9a;
      stroke: #9a9a9a;
    }

    .slider__thumb {
      stroke: white;
    }
  }
}

@keyframes slider-emphasize {
  0% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    transform: scale(0.85);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: scale(0.571);
    transform: scale(0.571);
  }
}
