
// ==========  Checkbox  ========== //

:root {
  --switch-font-size: 16px;
  --switch-theme: rgb(var(--color-dark));
  --switch-thumb-color: var(--color-app-card-background);
  --switch-theme-contrast: rgb(var(--color-dark-contrast));
}
