@import "variables";

// ==========  Banner   ========== //

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--banner-max-width);
  min-height: 52px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 16px;
  background-color: var(--color-app-card-background);

  &__body {
    display: flex;
    font-size: var(--banner-font-size);
    font-weight: var(--banner-font-weight);
    line-height: var(--banner-line-height);

    @media (min-width: var(--screen-tablet-breakpoint)) {
      margin-left: 8px;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    line-height: 40px;
    color: var(--color-app-text);
    user-select: none;
    background-color: var(--color-app-bar);
    border-radius: 50%;

    .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      line-height: 24px;
      transform: translate(-12px, -12px);
    }
  }

  &__text {
    display: inline-flex;
    align-items: center;
  }

  &__actions {
    flex-shrink: 0;
    align-self: center;
    width: auto;
    margin-right: -8px;
    padding-left: 36px;

    .button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--sm {
    max-width: var(--banner-max-width-sm);
  }

  &--full-width {
    max-width: none;
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .banner__actions {
      align-self: flex-end;
      margin-top: 12px;
    }
  }
}
