// ==========  Word Break  ========== //

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .break-normal#{$infix} {
      word-break: normal;
      overflow-wrap: normal;
    }

    .break-words#{$infix} { overflow-wrap: break-word; }

    .break-all#{$infix} { word-break: break-all; }

    .truncate#{$infix} {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
