@import "variables";

// ==========  Overlay  ========== //

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--overlay-z-index);
  display: none;
  width: 100%;
  height: auto;

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  &--cover {
    height: 100%;
    cursor: wait;
  }

  &--visible {
    display: flex;
  }

  &--backdrop {
    background: var(--color-app-divider);
  }
}
