@import "variables";

// ==========  Nav   ========== //

.md-tab-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.md-nav-bar {
  width: 100%;
}

.md-nav-scroller {
  overflow-y: hidden;

  &__scroll-area {
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: hidden;
    &--scroll {
      overflow-x: auto;
    }
  }

  &__scroll-content {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    transform: none;
    will-change: transform;
  }
}

.md-nav-indicator {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &__content {
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left;
    opacity: 0;
    &--underline {
      border-top-width: 2px;
      align-self: flex-end;
      box-sizing: border-box;
      width: 100%;
      border-top-style: solid;
      border-color: var(--nav-active-color);
    }
  }

  &--active {
    .md-nav-indicator__content {
      opacity: 1;
    }
  }
}

.md-nav-item {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  min-width: 64px;
  justify-content: center;
  margin: 0;
  height: 48px;
  overflow: hidden;
  padding: 0 24px;
  font-size: .875rem;
  line-height: 2.25rem;
  color: var(--nav-color);
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  white-space: nowrap;
  transition-property: all;
  opacity: var(--nav-default-opacity);
  cursor: pointer;
  background: none;
  transition: 150ms opacity linear;
  will-change: opacity;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    pointer-events: none;
  }

  &__text-label {
    transition: 150ms color linear;
    display: inline-block;
    line-height: 1;
    z-index: 2;
  }

  @media screen and (max-width: $screen-tablet-breakpoint) {
    padding-right: 12px;
    padding-left: 12px;
  }

  // todo @include md-animation-default();

  & .material-icons {
    vertical-align: middle;
    transform: translateY(-2px);
  }

  &:hover,
  &:focus,
  &--active {
    color: var(--nav-active-color);
    text-decoration: none;
    opacity: var(--nav-active-opacity);
  }

  &--active {
    color: var(--nav-active-color);
    .md-nav-indicator__content {
      opacity: 1;
    }
  }

  &--disabled {
    color: var(--color-app-disable);
    pointer-events: none;
    cursor: default;
    &:hover,
    &:focus,
    &--active {
      color: var(--color-app-disable);
    }
  }
}

.md-nav {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &--has-gap {
    &:not(.md-nav--column) .md-nav-item {
      margin-right: 8px;
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &.md-nav--column .md-nav-item {
      margin-top: 8px;
      margin-bottom: 8px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--hover-effect {
    > .md-nav-item {
      position: relative;
      &::before,
      &::after {
        position: absolute;
        top: calc(50% - 100%);
        left: calc(50% - 100%);
        width: 200%;
        height: 200%;
        pointer-events: none;
        content: "";
        background-color: var(--button-background-hover);
        opacity: 0;
        transition: opacity 250ms linear;
      }

      &--active::before,
      &:hover::before,
      &:focus::before,
      &:active::after {
        opacity: .12;
        transition-duration: 85ms;
      }

      &--active::after {
          content: none;
      }
    }
  }

  &--dense {
    > .md-nav-item {
      min-width: 0;
      height: 40px;
    }
  }

  &--compact {
    > .md-nav-item {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &--column {
    flex-direction: column;
    > .md-nav-item {
      padding-right: 16px;
      padding-left: 16px;
      text-align: left;
    }
  }

  &--submenu {
    &.md-nav--column > .md-nav-item {
      padding-left: 32px;
    }
  }

  &--stretch {
    > .md-nav-item {
      flex: 1 0 auto;
    }
  }

  // Pills
  &--pills {
    .md-nav-item {
      border-radius: 2px;
    }
  }

  &--pills-raised {
    .md-nav-item--active {
      box-shadow: var(--elevation-z2);
    }
  }

  &--pills-primary {
    .md-nav-item--active {
      color: RGB(var(--color-primary-contrast));
      background-color: RGB(var(--color-primary));
    }
  }

  &--pills-accent {
    .md-nav-item--active {
      color: RGB(var(--color-accent-contrast));
      background-color: RGB(var(--color-accent));
    }
  }

  &--pills-dark {
    .md-nav-item--active {
      color: RGB(var(--color-dark-contrast));
      background-color: RGB(var(--color-dark));
    }
  }

  &--pills-light {
    .md-nav-item--active {
      color: RGB(var(--color-light-contrast));
      background-color: RGB(var(--color-light));
    }
  }

  &--color-light-light {
    --nav-color: RGBA(var(--color-light-text));
    --nav-active-color: RGBA(var(--color-light-text));
  }

  &--color-light-primary {
    --nav-color: RGBA(var(--color-light-text));
    --nav-active-color: RGB(var(--color-primary));
  }

  &--color-dark-primary {
    --nav-color: RGB(var(--color-black));
    --nav-active-color: RGB(var(--color-primary));
  }

  &--color-light-accent {
    --nav-color: RGB(var(--color-white));
    --nav-active-color: RGB(var(--color-accent));
  }

  &--color-dark-accent {
    --nav-color: RGB(var(--color-black));
    --nav-active-color: RGB(var(--color-accent));
  }
}
