
@import "variables";

// ==========  Nav   ========== //

.md-tab-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.md-nav {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  list-style: none;

  &__link {
    position: relative;
    box-sizing: content-box;
    flex-shrink: 0;
    min-width: 64px;
    margin: 0;
    overflow: hidden;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-app-text-secondary);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    transition-property: all;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      min-width: 72px;
      padding-right: 12px;
      padding-left: 12px;
    }

    // @include md-animation-default();

    & .material-icons {
      vertical-align: middle;
      transform: translateY(-2px);
    }

    &:hover,
    &:focus,
    &--active {
      color: var(--color-app-text);
      text-decoration: none;
    }

    &--disabled {
      color: var(--color-app-disable);
      pointer-events: none;
      cursor: default;
      &:hover,
      &:focus,
      &--active {
        color: var(--color-app-disable);
      }
    }
  }

  &__progress-bar {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 16px;
    display: block;
    width: 2px;
    background: var(--color-app-divider);
  }

  &--has-padding-left {
    padding-left: 56px;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      padding-left: 60px;
    }
  }

  &--has-gap {
    &:not(.md-nav--column) .md-nav__link {
      margin-right: 8px;
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &.md-nav--column .md-nav__link {
      margin-top: 8px;
      margin-bottom: 8px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--hover-effect {
    > .md-nav__link {
      position: relative;
      &::before,
      &::after {
        position: absolute;
        top: calc(50% - 100%);
        left: calc(50% - 100%);
        width: 200%;
        height: 200%;
        pointer-events: none;
        content: "";
        background-color: var(--color-app-button-hover);
        opacity: 0;
        transition: opacity 250ms linear;
      }

      &:hover::before,
      &:focus::before,
      &:active::after {
        opacity: .12;
        transition-duration: 85ms;
      }
      &--active {
        background-color: var(--color-app-button-hover);
        &::before {
          content: none;
        }
      }
    }
  }

  &--casting-border {
    &.md-nav--column {
      .md-nav__link {
        border: 1px solid var(--color-app-divider);
        border-top: none;
        &:first-child {
          border-top: 1px solid var(--color-app-divider);
        }
      }
    }
    > .md-nav__link {
      border: 1px solid var(--color-app-divider);
      border-left: none;
      &:first-child {
        border-left: 1px solid var(--color-app-divider);
      }
    }
  }

  &--dense {
    > .md-nav__link {
      min-width: 0;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &--compact {
    > .md-nav__link {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &--column {
    flex-direction: column;
    > .md-nav__link {
      padding-right: 16px;
      padding-left: 16px;
      text-align: left;
    }
  }

  &--submenu {
    &.md-nav--column > .md-nav__link {
      padding-left: 32px;
    }
  }

  &--stretch {
    flex-grow: 1;
    > .md-nav__link {
      flex-grow: 1;
      max-width: none;
    }
  }

  &--has-progress {
    > .md-nav__link--active::before {
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: 16px;
      display: block;
      width: 2px;
      height: auto;
      content: "";
      background: var(--color-app-bar);
    }
  }

  &--hidden-tablet {
    @media screen and (max-width: $screen-tablet-breakpoint) {
      display: none;
    }
  }

  // Pills
  &--pills {
    .md-nav__link {
      border-radius: 2px;
    }
  }

  &--pills-raised {
    .md-nav__link {
      &--active {
        box-shadow: var(--elevation-z2);
      }
    }
  }

  &--pills-primary {
    .md-nav__link {
      &--active {
        color: RGB(var(--color-primary-contrast));
        background-color: RGB(var(--color-primary));
      }
    }
  }

  &--pills-accent {
    .md-nav__link {
      &--active {
        color: RGB(var(--color-accent-contrast));
        background-color: RGB(var(--color-accent));
      }
    }
  }

  // Tabs
  &--tabs {
    .md-nav__link {
      background-color: transparent;
      @media screen and (max-width: $screen-tablet-breakpoint) {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &::before {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 45%;
        width: 5%;
        height: auto;
        visibility: hidden;
        content: "";
        border-color: var(--color-app-text-secondary);
        border-bottom: 2px solid;
        border-radius: 0;
        opacity: 1;
        transition: all 250ms linear;
      }

      &--active::before {
        left: 0;
        width: 100%;
        color: inherit;
        visibility: visible;
      }
    }

    &.md-nav--column {

      .md-nav__link {
        &::before {
          height: 100%;
          border-bottom: none;
          border-left: 2px solid;
        }
      }

      &.md-nav--casting-border {
        .md-nav__link--active {
          padding-left: 17px;
          border-left: none;
        }
      }

    }
  }

  &--color-light-light {

    .md-nav__link {
      color: RGBA(var(--color-light-secondary-text));

      &:hover,
      &:focus,
      &--active {
        color: RGBA(var(--color-light-text));
      }
    }

    &.md-nav--tabs {
      .md-nav__link {
        &--active {
          &::before {
            border-color: RGBA(var(--color-light-text));
          }
        }
      }
    }

  }

  &--color-light-primary {

    .md-nav__link {
      color: RGBA(var(--color-light-secondary-text));

      &:hover,
      &:focus,
      &--active {
        color: var(--color-primary);
      }
    }

    &.md-nav--tabs {
      .md-nav__link {
        &--active {
          &::before {
            border-color: var(--color-primary);
          }
        }
      }
    }

  }

  &--color-dark-primary {

    .md-nav__link {
      color: RGBA(var(--color-dark-secondary));

      &:hover,
      &:focus,
      &--active {
        color: RGB(var(--color-primary));
      }
    }

    &.md-nav--tabs {
      .md-nav__link {
        &--active {
          &::before {
            border-color: RGB(var(--color-primary));
          }
        }
      }
    }

  }

  &--color-light-accent {
    .md-nav__link {
      color: RGBA(var(--color-light-secondary-text));

      &:hover,
      &:focus,
      &--active {
        color: RGBA(var(--color-accent));
      }
    }

    &.md-nav--tabs {
      .md-nav__link {
        &--active {
          &::before {
            border-color: RGB(var(--color-accent));
          }
        }
      }
    }
  }

  &--color-dark-accent {
    .md-nav__link {
      color: var(--color-dark-secondary);

      &:hover,
      &:focus,
      &--active {
        color: var(--color-accent);
      }
    }

    &.md-nav--tabs {
      .md-nav__link {
        &--active {
          &::before {
            border-color: var(--color-accent);
          }
        }
      }
    }
  }
}
