@import "variables";

// ==========  Jumbotron  ========== //

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--jumbotron-padding-y) 0;
  background-color: var(--color-app-card-background);

  &__title {
    margin-bottom: 8px;

    @include typography-headline3;

    @media (max-width: 959px) {
      @include typography-headline4;
    }
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &--casting-shadow {
    box-shadow: var(--elevation-z4);
  }

  &--casting-border {
    border-bottom: 1px solid var(--color-app-divider);
  }

  &--dense {
    min-height: 136px;
    --jumbotron-padding-y: 24px;

    .jumbotron__title {
      @include typography-headline4;

      @media (max-width: 959px) {
        @include typography-headline5;
      }
    }
  }
}
