// ==========  Buttons  ========== //

:root {
  --icon-button-color: var(--color-app-text);
  --icon-button-background: transparent;
  --icon-button-background-hover: var(--color-app-theme-contrast);
  --icon-button-width: 48px;
  --icon-button-height: 48px;
  --icon-button-padding-x: 0;
  --icon-button-padding-y: 0;
  --icon-button-border-radius: 50%;
  --icon-button-font-size: 24px;
}
