// ========== Panel  ========== */

:root {
  --panel-title-font-size: 16px;
  --panel-subtitle-font-size: 14px;
  --panel-horizontal-padding: 16px;
  --panel-vertical-padding: 16px;
  --panel-border-radius: 4px;
  --panel-header-height: 56px;
  --panel-header-dense-height: 48px;
}
