@import "variables";

// ==========  Form  ========== //

.md-form {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: var(--form-gap-negative);
    margin-left: var(--form-gap-negative);
  }

  &__item {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    padding: var(--form-gap);

    &--text-field {
      display: block;
      min-width: 240px;
    }

    &--toggle-input {
      flex-wrap: wrap;

      > .md-input-helper {
        flex-basis: 100%;
      }
    }

    > label {
      order: 0;
      margin-right: auto;
      padding-left: 4px;
    }
  }
}
