@import "variables";

// ==========  Header   ========== //

.md-top-app-bar {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  min-height: var(--top-app-bar-height-default);
  background-color: var(--color-app-bar);
  border: none;

  // @include md-animation-default(); TODO

  transition-property: all;

  > .md-container {
    position: relative;
  }

  .md-top-app-bar__row {
    .md-nav__link {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &.md-nav--dense .md-nav__link {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__navigation-icon {
    width: 48px;
    height: 48px;
    margin-left: -12px;
    color: inherit !important;
    background: transparent;
    outline: none;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      margin-left: -16px;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: var(--top-app-bar-height-desktop);
  }

  &__title {
    z-index: 1;
    overflow: hidden;
    padding: 8px 0 8px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include md-typography-headline6();

    &--large {
      font-size: 24px;
    }
  }

  &__section {
    z-index: 1;
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
  }

  &__action {
    color: var(--color-app-text-secondary);
  }

  &__brand {
    display: inline-flex;
    margin-right: 16px;
    padding: 4px 0;
    font-size: 24px;
    line-height: inherit;
    white-space: nowrap;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      height: var(--top-app-bar-height-phone);
    }

    img {
      width: auto;
      max-height: 100%;
    }
  }

  /* other */

  & > * {
    flex-shrink: 0;
  }

  &--casting-shadow {
    box-shadow: var(--elevation-z4);
  }

  &--casting-border {
    border-bottom: 1px solid var(--color-app-divider);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &--transparent {
    background-color: transparent;
  }

  &--dense {
    min-height: var(--top-app-bar-height-phone);

    .md-top-app-bar__row {
      height: var(--top-app-bar-height-phone);
    }

    .md-top-app-bar__title {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .md-top-app-bar__menu-button {
      top: 4px;
      left: 4px;
    }
  }

  &--mini {
    min-height: var(--top-app-bar-height-default);

    .md-top-app-bar__row {
      height: var(--top-app-bar-height-default);
    }

    .md-top-app-bar__title {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px;
    }

    .md-top-app-bar__menu-button {
      top: 2px;
      left: 4px;
    }
  }

  &--light {
    color: RGBA(var(--color-dark-text));
    background-color: RGB(var(--color-light-app-bar));
  }

  &--dark {
    color: RGBA(var(--color-light-text));
    background-color: RGB(var(--color-dark-app-bar));
  }

  &--primary {
    color: RGBA(var(--color-primary-contrast));
    background-color: RGB(var(--color-primary));

    .md-top-app-bar__title {
      color: RGBA(var(--color-primary-contrast));
    }

    .md-top-app-bar__action {
      color: RGBA(var(--color-primary-contrast));
    }
  }

  &--accent {
    color: RGBA(var(--color-accent-contrast));
    background-color: RGB(var(--color-accent));

    .md-top-app-bar__title {
      color: RGBA(var(--color-accent-contrast));
    }

    .md-top-app-bar__action {
      color: RGBA(var(--color-accent-contrast));
    }
  }

  &--dense-lt-md {
    @media screen and (max-width: $screen-tablet-breakpoint) {
      min-height: var(--top-app-bar-height-phone);

      .md-top-app-bar__row {
        height: var(--top-app-bar-height-phone);
      }

      .md-top-app-bar__title {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .md-top-app-bar__menu-button {
        top: 4px;
        left: 4px;
      }
    }
  }

  &--navigation-icon-tablet-only {
    .md-top-app-bar__navigation-icon {
      display: none;
      @media screen and (max-width: $screen-tablet-breakpoint) {
        display: block;
      }
    }
  }

  &--prominent {
    .md-top-app-bar__row {
    }

    .md-top-app-bar__navigation-icon,
    .md-top-app-bar__brand,
    .md-top-app-bar__action-item {
      align-self: flex-start;
    }

    .md-top-app-bar__title {
      margin-top: 60px;
    }

    @media (max-width: 599px) {
      .md-top-app-bar--prominent .md-top-app-bar__title {
        padding-bottom: 6px;
      }
    }
  }

  .md-nav {
    min-height: 48px;

    & > .md-nav__link {
      font-weight: 400;
      text-transform: none;
    }
  }
}

/* stylelint-disable selector-no-qualifying-type */
body.has-fixed-header {
  padding-top: var(--top-app-bar-height-desktop);

  &[data-top="56"] {
    padding-top: var(--top-app-bar-height-phone);
  }

  @media screen and (max-width: $screen-tablet-breakpoint) {
    padding-top: var(--top-app-bar-height-phone);
  }
}
