// ==========  Header   ========== //

@import "variables";

.top-app-bar {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  min-height: var(--top-app-bar-height-default);
  background-color: var(--color-app-bar);
  border: none;

  // @include animation-default(); TODO
  transition-property: all;

  &__navigation-icon {
    width: 48px;
    height: 48px;
    margin-left: -12px;
    color: inherit !important;
    background: transparent;
    outline: none;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      margin-left: -16px;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: var(--top-app-bar-height-desktop);
  }

  &__title {
    z-index: 1;
    overflow: hidden;
    padding: 8px 0 8px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include typography-headline6();

    &--large {
      font-size: 24px;
    }
  }

  &__section {
    z-index: 1;
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
  }

  &__action {
    color: var(--color-app-text-secondary);
  }

  &__brand {
    display: inline-flex;
    margin-right: 16px;
    padding: 4px 0;
    font-size: 24px;
    line-height: inherit;
    white-space: nowrap;

    @media screen and (max-width: $screen-tablet-breakpoint) {
      height: var(--top-app-bar-height-phone);
    }

    img {
      width: auto;
      max-height: 100%;
    }
  }

  /* other */

  & > * {
    flex-shrink: 0;
  }

  &--casting-shadow {
    box-shadow: var(--elevation-z4);
  }

  &--casting-border {
    border-bottom: 1px solid var(--color-app-divider);
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &--transparent {
    background-color: transparent;
  }

  &--dense {
    min-height: var(--top-app-bar-height-phone);

    .top-app-bar__row {
      height: var(--top-app-bar-height-phone);
    }

    .top-app-bar__title {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .top-app-bar__menu-button {
      top: 4px;
      left: 4px;
    }
  }

  &--mini {
    min-height: var(--top-app-bar-height-default);

    .top-app-bar__row {
      height: var(--top-app-bar-height-default);
    }

    .top-app-bar__title {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 16px;
    }

    .top-app-bar__menu-button {
      top: 2px;
      left: 4px;
    }
  }

  &--dense-lt-md {
    @media screen and (max-width: $screen-tablet-breakpoint) {
      min-height: var(--top-app-bar-height-phone);

      .top-app-bar__row {
        height: var(--top-app-bar-height-phone);
      }

      .top-app-bar__title {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .top-app-bar__menu-button {
        top: 4px;
        left: 4px;
      }
    }
  }

  &--navigation-icon-tablet-only {
    .top-app-bar__navigation-icon {
      display: none;
      @media screen and (max-width: $screen-tablet-breakpoint) {
        display: block;
      }
    }
  }

  &--prominent {
    .top-app-bar__row {
    }

    .top-app-bar__navigation-icon,
    .top-app-bar__brand,
    .top-app-bar__action-item {
      align-self: flex-start;
    }

    .top-app-bar__title {
      margin-top: 60px;
    }

    @media (max-width: 599px) {
      .top-app-bar--prominent .top-app-bar__title {
        padding-bottom: 6px;
      }
    }
  }

  .nav {
    min-height: 48px;

    & > .nav-item {
      text-transform: none;
    }
  }
}
